@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@font-face{
    font-family: "raleway";
    src: url(../fond/Raleway/Raleway-VariableFont_wght.ttf);
    src: url(../fond/Raleway/Raleway-Italic-VariableFont_wght.ttf);
}    
#profil{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 30px;
}
nav{
    background-color: #2c1d27;
    width: 1160px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
body{
    width: 1160px;
    margin-left: 200px;
    text-align: center;
    background-color: #782221;
    color: white;    
}
main{
    background-color: white;
    display: flex;
    flex-direction: row;
    text-align: left;
}
#principal{
    width: 810px;
    border-right:solid black 3px;
    margin-left: 20px;
    color: black;
}
#secondaire{
    background-color: #782221;
    width: 350px;
    padding-right: 50px;
}
h1{
    font-family: "lato";
    background-color: #dbc2a4;
    text-indent: 50px;
    color: black;
}
p{
    font-family: "raleway";
    text-indent: 20px;
}
img{
    width: 40px; height: 40px;
    margin: 5px;
}
img:hover{
    opacity: 0.5;
}