@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@font-face{
    font-family: "raleway";
    src: url(../fond/Raleway/static/Raleway-Regular.ttf);
    src: url(../fond/Raleway/static/Raleway-Bold.ttf);
    src: url(../fond/Raleway/static/Raleway-Italic.ttf);
}    
img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 30px;
}
nav{
    background-color: #2c1d27;
    width: 1160px;
    height: 50px;
    
}
body{
    width: 1160px;
    text-align: center;
    background-color: #782221;
}
main{
    background-color: white;
    display: flex;
    flex-direction: row;
    text-align: left;
}
#principal{
    width: 810px;
    border-right:solid black 3px;
}
#secondaire{
    background-color: #782221;
    width: 350px;

}
